<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="league/oauth2-client adapter for zend-expressive-authentication">  
    <link rel="shortcut icon" href="../img/favicon.ico">

    <title>Templates - phly</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/styles-482aa2add1.css">

    
</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            

            <!-- Main title -->
            <span class="navbar-brand">
                <a class="logo-link" href="https://framework.zend.com/" data-toggle="tooltip" data-placement="bottom" title="Go to the ZF homepage"><img src="../img/zf-logo-mark.svg" height="28" alt="Zend Framework" /></a>
                <a href="..">phly</a>
            </span>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            
                <!-- Main navigation -->
                <ul class="nav navbar-nav">
                
                
                    <li >
                        <a href="..">phly-expressive-oauth2clientauthentication</a>
                    </li>
                
                
                
                    <li >
                        <a href="../intro/">Introduction</a>
                    </li>
                
                
                
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reference <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../config/">Configuration</a>
</li>

                        
                            
<li >
    <a href="../debug/">Debug Provider</a>
</li>

                        
                            
<li class="active">
    <a href="./">Templates</a>
</li>

                        
                        </ul>
                    </li>
                
                
                </ul>
            

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="component-toggle" data-toggle="tooltip" data-placement="bottom" title="Show component list">
                        <i class="fa fa-book"></i> Components
                    </a>
                </li>

                <li>
                    <a href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
                
                    <li>
                        <a href="https://github.com/phly/phly-expressive-oauth2clientauthentication/">
                            
                                <i class="fa fa-github"></i>
                            
                            GitHub
                        </a>
                    </li>
                
            </ul>
        </div>
    </div>
</div>

    <!-- content:begin -->
    <div id="page-top" class="container docs">
        
        <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="main active"><a href="#login-templates">Login Templates</a></li>
        
            <li><a href="#plates">Plates</a></li>
        
            <li><a href="#twig">Twig</a></li>
        
            <li><a href="#zend-view">zend-view</a></li>
        
            <li><a href="#mustache">Mustache</a></li>
        
    
    </ul>

    
</div></div>
        <div class="col-md-9" role="main">

<ol class="breadcrumb" role="navigation" aria-label="breadcrumbs navigation">
  <li><a href="..">phly</a></li>
  
    
      
        <li>Reference</li>
      
    
  
  <li class="active">Templates</li>
</ol>

<h1 id="login-templates">Login Templates</h1>
<p>This package ships with a number of built-in templates for displaying the
"login" page when a user is unauthorized; these are in the <code>templates/</code>
subdirectory, and map to the <code>oauth2clientauthentication::401</code> template.</p>
<p>The templates provided expose links for each of the GitHub, Google, and (when
enabled) Debug providers. Further, they are written using <a href="http://getbootstrap.com">Bootstrap
theming</a>. As such, you will likely want to override
them.</p>
<p>Below, we demonstrate each of the default shipped versions.</p>
<h2 id="plates">Plates</h2>
<pre class="codehilite"><code class="language-php">&lt;?php $this-&gt;layout('layout::layout', [
    'title' =&gt; 'Unauthorized',
]); ?&gt;

&lt;section class=&quot;col-md-8 col-md-offset-2 code_401&quot;&gt;
  &lt;h2&gt;Unauthorized&lt;/h2&gt;

  &lt;p&gt;
    You are not logged in, and therefore cannot perform this action.
  &lt;/p&gt;

  &lt;p&gt;
    Login to continue:
  &lt;p&gt;

  &lt;div class=&quot;btn-group-vertical&quot; role=&quot;group&quot;&gt;
    &lt;a class=&quot;btn btn-default&quot; href=&quot;&lt;?= $auth_path ?&gt;/github?redirect=&lt;?= $redirect ?&gt;&quot;&gt;GitHub&lt;/a&gt;
    &lt;a class=&quot;btn btn-default&quot; href=&quot;&lt;?= $auth_path ?&gt;/google?redirect=&lt;?= $redirect ?&gt;&quot;&gt;Google&lt;/a&gt;
    &lt;?php if ($debug) : ?&gt;
    &lt;a class=&quot;btn btn-default&quot; href=&quot;&lt;?= $auth_path ?&gt;/debug?redirect=&lt;?= $redirect ?&gt;&quot;&gt;Debug&lt;/a&gt;
    &lt;?php endif ?&gt;
  &lt;/div&gt;
&lt;/section&gt;</code></pre>

<h2 id="twig">Twig</h2>
<pre class="codehilite"><code class="language-twig">{% extends '@layout/default.html.twig' %}

{% block title %}404 Not Found{% endblock %}

{% block content %}
&lt;section class=&quot;col-md-8 col-md-offset-2 code_401&quot;&gt;
  &lt;h2&gt;Unauthorized&lt;/h2&gt;

  &lt;p&gt;
    You are not logged in, and therefore cannot perform this action.
  &lt;/p&gt;

  &lt;p&gt;
    Login to continue:
  &lt;p&gt;

  &lt;div class=&quot;btn-group-vertical&quot; role=&quot;group&quot;&gt;
    &lt;a class=&quot;btn btn-default&quot; href=&quot;{{ auth_path }}/github?redirect={{ redirect }}&quot;&gt;GitHub&lt;/a&gt;
    &lt;a class=&quot;btn btn-default&quot; href=&quot;{{ auth_path }}/google?redirect={{ redirect }}&quot;&gt;Google&lt;/a&gt;
    {% if debug is defined %}
    &lt;a class=&quot;btn btn-default&quot; href=&quot;{{ auth_path }}/debug?redirect={{ redirect }}&quot;&gt;Debug&lt;/a&gt;
    {% endif %}
  &lt;/div&gt;
&lt;/section&gt;
{% endblock %}</code></pre>

<h2 id="zend-view">zend-view</h2>
<pre class="codehilite"><code class="language-php">&lt;?php $this-&gt;headTitle('Unauthorized') ?&gt;

&lt;section class=&quot;col-md-8 col-md-offset-2 code_401&quot;&gt;
  &lt;h2&gt;Unauthorized&lt;/h2&gt;

  &lt;p&gt;
    You are not logged in, and therefore cannot perform this action.
  &lt;/p&gt;

  &lt;p&gt;
    Login to continue:
  &lt;p&gt;

  &lt;div class=&quot;btn-group-vertical&quot; role=&quot;group&quot;&gt;
    &lt;a class=&quot;btn btn-default&quot; href=&quot;&lt;?= $this-&gt;auth_path ?&gt;/github?redirect=&lt;?= $this-&gt;redirect ?&gt;&quot;&gt;GitHub&lt;/a&gt;
    &lt;a class=&quot;btn btn-default&quot; href=&quot;&lt;?= $this-&gt;auth_path ?&gt;/google?redirect=&lt;?= $this-&gt;redirect ?&gt;&quot;&gt;Google&lt;/a&gt;
    &lt;?php if ($debug) : ?&gt;
    &lt;a class=&quot;btn btn-default&quot; href=&quot;&lt;?= $this-&gt;auth_path ?&gt;/debug?redirect=&lt;?= $this-&gt;redirect ?&gt;&quot;&gt;Debug&lt;/a&gt;
    &lt;?php endif ?&gt;
  &lt;/div&gt;
&lt;/section&gt;</code></pre>

<h2 id="mustache">Mustache</h2>
<p>This example can be used via the 
<a href="https://github.com/phly/phly-expressive-mustache">phly-expressive-mustache</a>
renderer for zend-expressive-template:</p>
<pre class="codehilite"><code class="language-mustache">{{&lt;layout::layout}}
{{$title}}Unauthorized{{/title}}
{{$content}}
&lt;section class=&quot;col-md-8 col-md-offset-2 code_401&quot;&gt;
  &lt;h2&gt;Unauthorized&lt;/h2&gt;

  &lt;p&gt;
    You are not logged in, and therefore cannot perform this action.
  &lt;/p&gt;

  &lt;p&gt;
    Login to continue:
  &lt;p&gt;

  &lt;div class=&quot;btn-group-vertical&quot; role=&quot;group&quot;&gt;
    &lt;a class=&quot;btn btn-default&quot; href=&quot;{{auth_path}}/github?redirect={{redirect}}&quot;&gt;GitHub&lt;/a&gt;
    &lt;a class=&quot;btn btn-default&quot; href=&quot;{{auth_path}}/google?redirect={{redirect}}&quot;&gt;Google&lt;/a&gt;
    {{#debug}}
    &lt;a class=&quot;btn btn-default&quot; href=&quot;{{auth_path}}/debug?redirect={{redirect}}&quot;&gt;Debug&lt;/a&gt;
    {{/debug}}
  &lt;/div&gt;
&lt;/section&gt;
{{/content}}
{{/layout::layout}}</code></pre>

<hr />

</div>
        
    </div>
    <!-- content:end -->

    <div id="footerwrap">
    <div class="container">
        <div class="row site-map">
            <div class="col-lg-3">
              <p>
                <strong>Zend Framework</strong><br />
                <a href="https://framework.zend.com/">framework.zend.com</a><br />
                <a href="https://docs.zendframework.com">docs.zendframework.com</a><br />
                <a href="https://packages.zendframework.com">packages.zendframework.com</a><br />
                <a href="https://apigility.org">apigility.org</a><br />
              </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 centered">
                <a class="back-to-top" href="#page-top"><i class="fa fa-chevron-circle-up fa-4" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="spacing"></div>

        <div class="row">
            <div class="col-lg-8">
                <h4>Copyright</h4>
                <div class="hline-w"></div>

                <p>&copy; 2006-2017 by <a href="https://www.zend.com/">Zend</a>, a <a href="https://www.roguewave.com/">Rogue Wave Company</a>.</p>
            </div>

            <div class="col-lg-4">
                <h4>Contacts</h4>
                <div class="hline-w"></div>
                <p>
                    <a href="https://discourse.zendframework.com" class="btn-social btn-outline" alt="Forum" title="Forum"><i class="fa fa-comments"></i></a>
                    <a href="https://zendframework-slack.herokuapp.com" class="btn-social btn-outline" alt="Slack" title="Slack"><i class="fa fa-slack"></i></a>
                    <a href="https://github.com/zendframework" class="btn-social btn-outline" alt="Github" title="Github"><i class="fa fa-github"></i></a>
                    <a href="https://twitter.com/zfdevteam" class="btn-social btn-outline" alt="Twitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script>var base_url = '..';</script>
    <script src="../js/scripts-0b6185f4a5.js"></script>
    <script data-main="../mkdocs/js/search.js" src="../mkdocs/js/require.js"></script>
        <script src="../search/require.js"></script>
        <script src="../search/search.js"></script>

    <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Search</h4>
                </div>
                <div class="modal-body">
                    <p>
                        From here you can search these documents. Enter your search terms below.
                    </p>
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query">
                        </div>
                    </form>
                    <div id="mkdocs-search-results"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <div class="zf-components">
  <div class="zf-components-grid">
    <div class="zf-logo">
      <a href="https://framework.zend.com" data-toggle="tooltip" data-placement="bottom" title="Go to the ZF homepage"><img src="../img/zf-logo-mark.svg" alt="Zend Framework" width="250" /></a>
    </div>

    <div class="component-list"></div>

    <p class="zf-components-rollup"><a href="#">Hide list</a></p>
  </div>
</div>

</body>

</html>
