<!DOCTYPE html>
<html lang="en">
<head>
  
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    
    <link rel="shortcut icon" href="../img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Templates - phly</title>
    <link href="../css/bootstrap-3.3.7.min.css" rel="stylesheet">
    <link href="../css/font-awesome-4.7.0.css" rel="stylesheet">
    <link href="../css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/highlight.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap-3.3.7.min.js"></script>
    <script src="../js/highlight.pack.js"></script>
    
    <base target="_top">
    <script>
      var base_url = '..';
      var is_top_frame = false;
        
        var pageToc = [
          {title: "Login Templates", url: "#_top", children: [
              {title: "Plates", url: "#plates" },
              {title: "Twig", url: "#twig" },
              {title: "zend-view", url: "#zend-view" },
              {title: "Mustache", url: "#mustache" },
          ]},
        ];

    </script>
    <script src="../js/base.js"></script> 
</head>

<body>
<script>
if (is_top_frame) { $('body').addClass('wm-top-page'); }
</script>



<div class="container-fluid wm-page-content">
  <a name="_top"></a>
    

    
    
      
    

  <div class="row wm-article-nav-buttons" role="navigation" aria-label="navigation">
    
    <div class="wm-article-nav">
      <a href="../debug/" class="btn btn-xs btn-default pull-left">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        Previous</a><a href="../debug/" class="btn btn-xs btn-link">
        Debug Provider
      </a>
    </div>
    
  </div>

    

    <h1 id="login-templates">Login Templates</h1>
<p>This package ships with a number of built-in templates for displaying the
"login" page when a user is unauthorized; these are in the <code>templates/</code>
subdirectory, and map to the <code>oauth2clientauthentication::401</code> template.</p>
<p>The templates provided expose links for each of the GitHub, Google, and (when
enabled) Debug providers. Further, they are written using <a href="http://getbootstrap.com">Bootstrap
theming</a>. As such, you will likely want to override
them.</p>
<p>Below, we demonstrate each of the default shipped versions.</p>
<h2 id="plates">Plates</h2>
<pre><code class="php">&lt;?php $this-&gt;layout('layout::layout', [
    'title' =&gt; 'Unauthorized',
]); ?&gt;

&lt;section class=&quot;col-md-8 col-md-offset-2 code_401&quot;&gt;
  &lt;h2&gt;Unauthorized&lt;/h2&gt;

  &lt;p&gt;
    You are not logged in, and therefore cannot perform this action.
  &lt;/p&gt;

  &lt;p&gt;
    Login to continue:
  &lt;p&gt;

  &lt;div class=&quot;btn-group-vertical&quot; role=&quot;group&quot;&gt;
    &lt;a class=&quot;btn btn-default&quot; href=&quot;&lt;?= $auth_path ?&gt;/github?redirect=&lt;?= $redirect ?&gt;&quot;&gt;GitHub&lt;/a&gt;
    &lt;a class=&quot;btn btn-default&quot; href=&quot;&lt;?= $auth_path ?&gt;/google?redirect=&lt;?= $redirect ?&gt;&quot;&gt;Google&lt;/a&gt;
    &lt;?php if ($debug) : ?&gt;
    &lt;a class=&quot;btn btn-default&quot; href=&quot;&lt;?= $auth_path ?&gt;/debug?redirect=&lt;?= $redirect ?&gt;&quot;&gt;Debug&lt;/a&gt;
    &lt;?php endif ?&gt;
  &lt;/div&gt;
&lt;/section&gt;
</code></pre>

<h2 id="twig">Twig</h2>
<pre><code class="twig">{% extends '@layout/default.html.twig' %}

{% block title %}404 Not Found{% endblock %}

{% block content %}
&lt;section class=&quot;col-md-8 col-md-offset-2 code_401&quot;&gt;
  &lt;h2&gt;Unauthorized&lt;/h2&gt;

  &lt;p&gt;
    You are not logged in, and therefore cannot perform this action.
  &lt;/p&gt;

  &lt;p&gt;
    Login to continue:
  &lt;p&gt;

  &lt;div class=&quot;btn-group-vertical&quot; role=&quot;group&quot;&gt;
    &lt;a class=&quot;btn btn-default&quot; href=&quot;{{ auth_path }}/github?redirect={{ redirect }}&quot;&gt;GitHub&lt;/a&gt;
    &lt;a class=&quot;btn btn-default&quot; href=&quot;{{ auth_path }}/google?redirect={{ redirect }}&quot;&gt;Google&lt;/a&gt;
    {% if debug is defined %}
    &lt;a class=&quot;btn btn-default&quot; href=&quot;{{ auth_path }}/debug?redirect={{ redirect }}&quot;&gt;Debug&lt;/a&gt;
    {% endif %}
  &lt;/div&gt;
&lt;/section&gt;
{% endblock %}
</code></pre>

<h2 id="zend-view">zend-view</h2>
<pre><code class="php">&lt;?php $this-&gt;headTitle('Unauthorized') ?&gt;

&lt;section class=&quot;col-md-8 col-md-offset-2 code_401&quot;&gt;
  &lt;h2&gt;Unauthorized&lt;/h2&gt;

  &lt;p&gt;
    You are not logged in, and therefore cannot perform this action.
  &lt;/p&gt;

  &lt;p&gt;
    Login to continue:
  &lt;p&gt;

  &lt;div class=&quot;btn-group-vertical&quot; role=&quot;group&quot;&gt;
    &lt;a class=&quot;btn btn-default&quot; href=&quot;&lt;?= $this-&gt;auth_path ?&gt;/github?redirect=&lt;?= $this-&gt;redirect ?&gt;&quot;&gt;GitHub&lt;/a&gt;
    &lt;a class=&quot;btn btn-default&quot; href=&quot;&lt;?= $this-&gt;auth_path ?&gt;/google?redirect=&lt;?= $this-&gt;redirect ?&gt;&quot;&gt;Google&lt;/a&gt;
    &lt;?php if ($debug) : ?&gt;
    &lt;a class=&quot;btn btn-default&quot; href=&quot;&lt;?= $this-&gt;auth_path ?&gt;/debug?redirect=&lt;?= $this-&gt;redirect ?&gt;&quot;&gt;Debug&lt;/a&gt;
    &lt;?php endif ?&gt;
  &lt;/div&gt;
&lt;/section&gt;
</code></pre>

<h2 id="mustache">Mustache</h2>
<p>This example can be used via the 
<a href="https://github.com/phly/phly-expressive-mustache">phly-expressive-mustache</a>
renderer for zend-expressive-template:</p>
<pre><code class="mustache">{{&lt;layout::layout}}
{{$title}}Unauthorized{{/title}}
{{$content}}
&lt;section class=&quot;col-md-8 col-md-offset-2 code_401&quot;&gt;
  &lt;h2&gt;Unauthorized&lt;/h2&gt;

  &lt;p&gt;
    You are not logged in, and therefore cannot perform this action.
  &lt;/p&gt;

  &lt;p&gt;
    Login to continue:
  &lt;p&gt;

  &lt;div class=&quot;btn-group-vertical&quot; role=&quot;group&quot;&gt;
    &lt;a class=&quot;btn btn-default&quot; href=&quot;{{auth_path}}/github?redirect={{redirect}}&quot;&gt;GitHub&lt;/a&gt;
    &lt;a class=&quot;btn btn-default&quot; href=&quot;{{auth_path}}/google?redirect={{redirect}}&quot;&gt;Google&lt;/a&gt;
    {{#debug}}
    &lt;a class=&quot;btn btn-default&quot; href=&quot;{{auth_path}}/debug?redirect={{redirect}}&quot;&gt;Debug&lt;/a&gt;
    {{/debug}}
  &lt;/div&gt;
&lt;/section&gt;
{{/content}}
{{/layout::layout}}
</code></pre>

  <br>
    

    
    
      
    

  <div class="row wm-article-nav-buttons" role="navigation" aria-label="navigation">
    
    <div class="wm-article-nav">
      <a href="../debug/" class="btn btn-xs btn-default pull-left">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        Previous</a><a href="../debug/" class="btn btn-xs btn-link">
        Debug Provider
      </a>
    </div>
    
  </div>

    <br>
</div>

<footer class="col-md-12 wm-page-content">
      <p>
        <a href="https://github.com/phly/phly-expressive-oauth2clientauthentication/edit/master/docs/templates.md"><i class="fa fa-github"></i>
Edit on GitHub</a>
      </p><p>Copyright (c) 2019 <a href="https://mwop.net">Matthew Weier O&#39;Phinney</a></p>
  <p>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a> using <a href="https://github.com/gristlabs/mkdocs-windmill">Windmill</a> theme by Grist Labs.</p>
</footer>

</body>
</html>